@use '../css/headerSub.scss' as *;

#root{display: flex; flex-direction: column; min-height: 100vh;}

#mypage_wrap{
    padding: 96px 0px 0;
    flex:1;
    .event_banner{ padding:0 20px 32px; border-bottom: 8px solid #F6F6F6;
    a{ display: block;width: 100%; border-radius: 3px;}
    img{width: 100%;}
    }
}